<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/mvc
						   http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">


	<!-- MYSQL CONECTION -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://104.197.19.218/DESARROLLO" />
		<property name="username" value="root" />
		<property name="password" value="ricardo2015" />
		<property name="initialSize" value="3" />
		<property name="maxActive" value="10" />
	</bean>

	<bean id="retail" class="com.store.retail.springmvc.Interface.RetailImplement">
		<property name="brandsDao" ref="brandsDao" />
	</bean>

	<bean id="brandsDao" class="com.store.retail.springmvc.DAO.JDBC.BrandsDAOJDBC">
	<constructor-arg ref="dataSource"></constructor-arg>
	</bean>

	<bean id="helloWorldRestController" class="com.store.retail.springmvc.controller.HelloWorldRestController" autowire-candidate="true"> 
		<property name="retail" ref="retail" /> </bean>


	<!-- BEAN PARA LA CONFIGURACION DE APPLICATION PROPERTIES -->
	<!-- <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
		<property name="locations"> <list> <value>classpath:application.properties</value> 
		</list> </property> </bean> -->


</beans>